# Compiled class files
*.class

# Log files
*.log

# Package Files # 
*.jar
*.war
*.ear

# Maven target directory
target/

# Gradle build directory
build/

# Gradle cache files
.gradle/

# Eclipse IDE files
.settings/
.project
.classpath

# IntelliJ IDEA files
*.iml
.idea/
out/

# NetBeans IDE files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.nb-gradle/

# Visual Studio Code
.vscode/

# macOS hidden files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp
*.old

frames/
slurm_outs/
sbatch_files/
